#movieDataDiv {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#movieDataDiv img {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#movieTitle {
  color: #061761;
}

#movieDataDiv h4 {
  margin-left: 20px;
}

.similarMovies {
  cursor: pointer;
}

.similarMovies:hover {
  opacity: 0.9;
  transition: 0.3s;
}

.similarMovies img:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1000px) {
  #movieDataDiv {
    text-align: center;
    grid-template-columns: 1fr;
    margin: 0;
  }
  #rightSide {
    text-align: center;
  }
}
