.internalData {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#movieDataDiv img {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#movieTitle {
  color: #061761;
}

#movieDataDiv h2 {
  margin-left: 20px;
}

.similarMovies{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.mapSimilarMovies {
  cursor: pointer;
  text-align: center;
}

.mapSimilarMovies img:hover {
  opacity: 0.9;
  transition: 0.3s;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8);
}

#trailerDiv {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .internalData {
    text-align: center;
    grid-template-columns: 1fr;
    margin: 0;
  }
  #rightSide {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .similarMovies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


@media screen and (min-width: 800px) and (max-width: 1000px) {
  .similarMovies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  .similarMovies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .similarMovies{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}